.overlay {
  /* variable and default value */
  /* 
    --modal-color-overlay: #00000099;
    --modal-color-bg: white;
  */

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay[data-animation-pause],
.overlay[data-animation-pause] > * {
  animation-iteration-count: 0 !important;
  transition: none !important;
}

.overlay[data-modal-type='full-page'] {
  filter: drop-shadow(0 0 15px var(--modal-color-overlay, #00000099));
}
.overlay[data-modal-type='full-page'].--out-transition {
  background: transparent !important;
}

.overlay[data-modal-type='floating'] {
  background: var(--modal-color-overlay, #00000099);
  animation: overlayFadeIn 0.25s ease;
}
.overlay[data-modal-type='floating'].--out-transition {
  animation: overlayFadeOut 0.25s ease forwards;
}
@keyframes overlayFadeIn {
  from {
    background: #00000000;
  }
  to {
    background: var(--modal-color-overlay, #00000099);
  }
}
@keyframes overlayFadeOut {
  from {
    background: var(--modal-color-overlay, #00000099);
  }
  to {
    background: #00000000;
  }
}

.overlay[data-modal-position='bottom'] {
  align-items: end;
  padding-bottom: 3rem;
}

/* ------- modal styling --------- */
.modal {
  position: absolute;
  background: var(--modal-color-bg, white);
  /* padding: 2rem; */
  transition: all 0.25s ease;
  white-space: initial;
}
.overlay[data-modal-type='full-page'] .modal {
  width: 100%;
  height: 100%;
}
.overlay[data-modal-type='floating'] .modal {
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
}
.overlay[data-modal-type='bottom-sheet'] .modal {
  top: 30%;
  width: 100%;
  height: 70%;
}

/* In/Out zoom-in animation -------- */

@keyframes zoomInAnimation {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomOutBottom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.6);
    opacity: 0;
  }
}

.overlay[data-animation='zoom-in'] .modal {
  transition: all 0.15s ease-in-out;
  animation: zoomInAnimation 0.15s cubic-bezier(0.18, 0.8, 0.74, 1.14);
}
.overlay[data-animation='zoom-in']
  .modal.--back-transition
  + div {
  animation: zoomOutBottom 0.15s ease forwards;
  pointer-events: none;
}
.overlay[data-animation='zoom-in']
  .modal.--back-transition:last-child {
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}
.overlay[data-animation='zoom-in']
  .modal:not(:last-child):not(.--back-transition) {
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}

/* In/Out slide animation -------- */

@keyframes slideIn {
  from {
    transform: translate(100vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideOut {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100vw, 0);
  }
}

.overlay[data-animation='slide'] .modal {
  animation: slideIn 0.25s ease;
}
.overlay[data-animation='slide']
  .modal.--back-transition
  + div {
  animation: slideOut 0.25s ease forwards;
  pointer-events: none;
}
.overlay[data-animation='slide']
  .modal.--back-transition:last-child {
  transform: translate(100vw, 0);
  pointer-events: none;
}
.overlay[data-animation='slide']
  .modal:not(:last-child):not(.--back-transition) {
  transform: translate(-100vw, 0);
  pointer-events: none;
}

/* In/Out slide bottom animation -------- */

@keyframes slideInBottom {
  from {
    transform: translate(0, 100vh);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideOutBottom {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 100vh);
  }
}

.overlay[data-animation='slide-bottom'] .modal {
  transition: all 0.25s ease-in-out;
  animation: slideInBottom 0.25s cubic-bezier(0, 0.3, 0.15, 1.1);
}
.overlay[data-animation='slide-bottom']
  .modal.--back-transition
  + div {
  animation: slideOutBottom 0.25s ease forwards;
  pointer-events: none;
}
.overlay[data-animation='slide-bottom']
  .modal.--back-transition:last-child {
  transform: translate(0, 100vh);
  pointer-events: none;
}
.overlay[data-animation='slide-bottom']
  .modal:not(:last-child):not(.--back-transition) {
  transform: translate(0, 100vh);
  pointer-events: none;
}
