.overlay {
  /* variable and default value */
  /* 
    --modal-color-overlay: #00000099;
    --modal-color-bg: white;
  */

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none; /* https://stackoverflow.com/questions/5802467/prevent-scrolling-of-parent-element-when-inner-element-scroll-position-reaches-t */
  -ms-scroll-chaining: none;
}

.overlay[data-animation-pause],
.overlay[data-animation-pause] > * {
  animation-iteration-count: 0 !important;
  transition: none !important;
}

.overlay[data-modal-type='full-page'] {
  filter: drop-shadow(0 0 15px var(--modal-color-overlay, #00000099));
}
.overlay[data-modal-type='full-page'].--out-transition {
  background: transparent !important;
}

.overlay[data-modal-type='bottom-sheet'],
.overlay[data-modal-type='floating'] {
  background: var(--modal-color-overlay, #00000099);
  animation: overlayFadeIn 0.25s ease;
}
.overlay[data-modal-type='bottom-sheet'].--out-transition,
.overlay[data-modal-type='floating'].--out-transition {
  animation: overlayFadeOut 0.25s ease both;
}
@keyframes overlayFadeIn {
  from {
    background: #00000000;
  }
  to {
    background: var(--modal-color-overlay, #00000099);
  }
}
@keyframes overlayFadeOut {
  from {
    background: var(--modal-color-overlay, #00000099);
  }
  to {
    background: #00000000;
  }
}

.overlay[data-modal-position='bottom'] {
  align-items: end;
  padding-bottom: 3rem;
}

/* ------- modal styling --------- */
.modal {
  position: absolute;
  background: var(--modal-color-bg, white);
  /* padding: 2rem; */
  white-space: initial;
}
.overlay[data-modal-type='full-page'] .modal {
  width: 100%;
  height: 100%;
}
.overlay[data-modal-type='floating'] .modal {
  border-radius: 1rem;
  padding: 1rem;
}
.overlay[data-modal-type='bottom-sheet'] .modal {
  background: var(--modal-color-bg, transparent);
  width: 100%;
  height: 100%;
}

/* In/Out zoom-in animation -------- */

.overlay[data-animation='zoom-in'] > * {
  transition: transform 0.15s, opacity 0.15s;
  transition-timing-function: cubic-bezier(0, 0.3, 0.15, 1.2);
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}
.overlay[data-animation='zoom-in'] .modal {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.overlay[data-animation='zoom-in'] .modal.--back-transition + div,
.overlay[data-animation='zoom-in'] .modal.--back-transition:last-child,
.overlay[data-animation='zoom-in'] .modal:not(:last-child):not(.--back-transition) {
  transition-timing-function: ease-in-out;
  transform: scale(0.6);
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

/* In/Out slide animation -------- */

.overlay[data-animation='slide'] > * {
  transition: transform 0.25s ease-in-out;
  transform: translate(100vw, 0);
  visibility: hidden;
}
.overlay[data-animation='slide'] .modal {
  transform: translate(0, 0);
  visibility: visible;
}
.overlay[data-animation='slide'] .modal.--back-transition + div,
.overlay[data-animation='slide'] .modal.--back-transition:last-child {
  transform: translate(100vw, 0);
  pointer-events: none;
  visibility: visible;
}
.overlay[data-animation='slide'] .modal:not(:last-child):not(.--back-transition) {
  transform: translate(-100vw, 0);
  transition-delay: 15ms;
  pointer-events: none;
  visibility: visible;
}

/* In/Out slide bottom animation -------- */

.overlay[data-animation='slide-bottom'] > * {
  transition: transform 0.25s cubic-bezier(0, 0.3, 0.15, 1.1);
  transform: translate(0, 100vh);
  visibility: hidden;
}
.overlay[data-animation='slide-bottom'] .modal {
  transform: translate(0, 0);
  visibility: visible;
}
.overlay[data-animation='slide-bottom'] .modal.--back-transition + div,
.overlay[data-animation='slide-bottom'] .modal.--back-transition:last-child,
.overlay[data-animation='slide-bottom'] .modal:not(:last-child):not(.--back-transition) {
  transition-timing-function: ease-in-out;
  transform: translate(0, 100vh);
  pointer-events: none;
  visibility: visible;
}

/* In/Out slide bottom-sheet animation -------- */

.overlay[data-modal-type='bottom-sheet'][data-animation='slide-bottom'] > * {
  transition: top 0.25s cubic-bezier(0, 0.3, 0.15, 1), height 0.25s cubic-bezier(0, 0.3, 0.15, 1);
  top: 100%;
  height: 100%;
  visibility: hidden;
}

.overlay[data-modal-type='bottom-sheet'] [data-prevent-scroll],
.overlay[data-modal-type='bottom-sheet'] [data-prevent-scroll] * {
  overflow-y: hidden !important;    /* fallback, TODO FIX: cause page refresh on drag-down */
  overflow-y: clip !important;
}

.overlay[data-modal-type='bottom-sheet'][data-animation='slide-bottom'] .modal {
  top: var(--bottom-sheet-top, 100%);
  height: var(--bottom-sheet-height, 100%);
  visibility: visible;
}

.overlay[data-modal-type='bottom-sheet'][data-animation='slide-bottom'] .modal.--back-transition + div,
.overlay[data-modal-type='bottom-sheet'][data-animation='slide-bottom'] .modal.--back-transition:last-child,
.overlay[data-modal-type='bottom-sheet'][data-animation='slide-bottom']
  .modal:not(:last-child):not(.--back-transition) {
  top: 100%;
  visibility: visible;
}

/* ------------------- */

[data-prevent-scroll] {
  overflow: hidden !important;
}