.overlay {
  /* variable and default value */
  /* 
    --one-modal-color-overlay: #00000099;
    --one-modal-color-bg: white;
  */

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  overscroll-behavior: none; /* https://stackoverflow.com/questions/5802467/prevent-scrolling-of-parent-element-when-inner-element-scroll-position-reaches-t */
  -ms-scroll-chaining: none;
}

.modals-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:not([data-omodal-open]) {
  display: none;
}

.overlay[data-omodal-animation-pause],
.overlay[data-omodal-animation-pause] .modals-container > * {
  animation-iteration-count: 0 !important;
  transition: none !important;
}

.overlay[data-omodal-type='full-page'] {
  filter: drop-shadow(0 0 15px var(--one-modal-color-overlay, #00000099));
}
.overlay[data-omodal-type='full-page'].--out-transition {
  background: transparent !important;
}

.overlay[data-omodal-type='bottom-sheet'],
.overlay[data-omodal-type='floating'] {
  background: var(--one-modal-color-overlay, #00000099);
  animation: overlayFadeIn 0.25s ease;
}
.overlay[data-omodal-type='bottom-sheet'].--out-transition,
.overlay[data-omodal-type='floating'].--out-transition {
  animation: overlayFadeOut 0.25s ease both;
}
@keyframes overlayFadeIn {
  from {
    background: #00000000;
  }
  to {
    background: var(--one-modal-color-overlay, #00000099);
  }
}
@keyframes overlayFadeOut {
  from {
    background: var(--one-modal-color-overlay, #00000099);
  }
  to {
    background: #00000000;
  }
}

.overlay[data-omodal-position='top'] {
  align-items: start;
  padding-top: 2rem;
}

.overlay[data-omodal-position='bottom'] {
  align-items: end;
  padding-bottom: 3rem;
}

/* ------- modal styling --------- */
.modal {
  position: absolute;
  background: var(--one-modal-color-bg);
  max-height: 100%;
  white-space: initial;
  overflow: auto;
}
.overlay[data-omodal-type='full-page'] .modal {
  width: 100%;
  height: 100%;
}
.overlay[data-omodal-type='floating'] .modal {
  border-radius: 1rem;
  margin: 1rem;
  max-height: 95%;
  max-width: 60rem;
}
.overlay[data-omodal-type='bottom-sheet'] .modal {
  background: var(--one-modal-color-bg, transparent);
  width: 100%;
  height: 100%;
}

/* In/Out zoom-in animation -------- */

.overlay[data-omodal-animation='zoom-in'] .modal.active.--out-transition,
.overlay[data-omodal-animation='zoom-in'] .modal {
  transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
  transition-timing-function: ease-in-out;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.overlay[data-omodal-animation='zoom-in'] .modal.active {
  transition-timing-function: cubic-bezier(0, 0.3, 0.15, 1.2);
  transform: scale(1);
  opacity: 1;
  pointer-events: inherit;
  visibility: visible;
}

/* In/Out slide animation -------- */

.overlay[data-omodal-animation='slide'] .modal {
  transition: transform 0.25s ease-in-out;
  transform: translate(-100vw, 0);
  pointer-events: none;
}
.overlay[data-omodal-animation='slide'] .modal.active.--in-transition,
.overlay[data-omodal-animation='slide'] .modal.active {
  transform: translate(0, 0);
  pointer-events: inherit;
}
.overlay[data-omodal-animation='slide'] .modal.--in-transition,
.overlay[data-omodal-animation='slide'] .modal.--out-transition,
.overlay[data-omodal-animation='slide'] .modal.active ~ .modal {
  transform: translate(100vw, 0);
  transition-delay: 15ms;
  pointer-events: none;
}

/* In/Out slide bottom animation -------- */

.overlay[data-omodal-animation='slide-bottom'] .modal.active.--out-transition,
.overlay[data-omodal-animation='slide-bottom'] .modal {
  transition: transform 0.25s ease-in-out;
  transform: translate(0, 100vh);
  pointer-events: none;
}
.overlay[data-omodal-animation='slide-bottom'] .modal.active {
  transition-timing-function: cubic-bezier(0, 0.3, 0.15, 1.1);
  transform: translate(0, 0);
  pointer-events: inherit;
}

/* In/Out slide bottom-sheet animation -------- */

.overlay[data-omodal-type='bottom-sheet'][data-omodal-animation='slide-bottom'] .modals-container > * {
  transition: top 0.25s cubic-bezier(0, 0.3, 0.15, 1), height 0.25s cubic-bezier(0, 0.3, 0.15, 1) -0.25s;
  top: 100%;
  height: 100%;
  visibility: hidden;
}

.overlay[data-omodal-type='bottom-sheet'] [data-omodal-delay-height] {
  transition: top 0.25s cubic-bezier(0, 0.3, 0.15, 1), height 0.25s cubic-bezier(0, 0.3, 0.15, 1) 0.25s;
}

.overlay[data-omodal-type='bottom-sheet'] [data-omodal-prevent-scroll],
.overlay[data-omodal-type='bottom-sheet'] [data-omodal-prevent-scroll] * {
  overflow-y: hidden !important; /* fallback, TODO FIX: cause page refresh on drag-down */
  overflow-y: clip !important; /* This fix the above issue, but only on supported browsers */
}

.overlay[data-omodal-type='bottom-sheet'][data-omodal-animation='slide-bottom'] .modal {
  top: var(--bottom-sheet-top, 100%);
  height: var(--bottom-sheet-height, 100%);
  visibility: visible;
}

.overlay[data-omodal-type='bottom-sheet'][data-omodal-animation='slide-bottom'] .modal.--back-transition + div,
.overlay[data-omodal-type='bottom-sheet'][data-omodal-animation='slide-bottom'] .modal.--back-transition:last-child,
.overlay[data-omodal-type='bottom-sheet'][data-omodal-animation='slide-bottom']
  .modal:not(:last-child):not(.--back-transition) {
  top: 100%;
  visibility: visible;
}

/* ------------------- */

[data-omodal-prevent-scroll] {
  overflow: hidden !important;
}
